body {
  margin: 0;
}

.floating-box-search {
  position: fixed;
  top: 2%;
  left: 2%;

  background-image: linear-gradient(to bottom right, #ffffff, #ffffff);
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 13vw;
  height: 19vh;
}

.floating-box-filter {
  position: fixed;
  top: 35%;
  left: 2%;

  background-image: linear-gradient(to bottom right, #ffffff, #ffffff);
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 13vw;
  height: 41vh;
}

.x {
  font-size: 15px;
}

button {
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 8px;
  border-radius: 10px;
  border: none;
  background-color: #4caf50;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 13vw;
  height: 4vh;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 1px;
}

legend {
  font-family: Arial, sans-serif;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

input[type="text"] {
  font-family: Arial, sans-serif;
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 5px;
  margin-top: 0px;
  width: 12vw;
  height: 1vh;
}

.floating-box-two {
  position: fixed;
  top: 10px;
  right: 10px;
  background-image: linear-gradient(to bottom right, #ffffff, #ffffff);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 280px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.floating-box-popUp {
  position: fixed;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to bottom right, #ffffff, #ffffff);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 170px;
  height: 50px;
  animation-name: fadeOut;
  animation-duration: 8s;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  color: black;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.close-button span {
  position: relative;
  top: -5px;
  left: -5px;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.twitter-btn {
  background-color: #0000007e;
  border: none;
  color: #fff;
  padding: 0.5em 1em;
  font-size: 1em;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  margin-top: 1em;
  width: 100%;
}
.ff {
  background-color: #0b62e0;
}

.twitter-btn,
.close-button {
  margin-top: 0.5em;
  margin-right: 0.5em;
}
.image-container {
  position: relative;
}

.close-button {
  background-color: white;
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
  padding-left: 13px;
  padding-bottom: 13px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  color: #555;
  cursor: pointer;
}

.close-button span {
  display: inline-block;
  vertical-align: middle;
}

.info-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.followers-info p,
.party-info p {
  line-height: 1.2;
  margin: 0;
  font-weight: lighter;
}
.followers-info {
  margin-right: 1em;
}
.card-title {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
}
.info-background {
  background-color: rgba(0, 0, 0, 0.078);
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;

  border-radius: 10px;
}
.takip {
  font-size: 12px;
  font-weight: lighter;
  color: #555;
}

.yazi {
  text-align: center;
  font-size: 14px;
}
